@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

h1,
h2,
p {
  text-align: center;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

hr{
    height: 2px;
    background-color: beige;
    border-color: black;
}

.title-line{
    box-shadow: 1px 29px 6px -5px rgba(0,0,0,0.83);
-webkit-box-shadow: 1px 29px 6px -5px rgba(0,0,0,0.83);
-moz-box-shadow: 1px 29px 6px -5px rgba(0,0,0,0.83);
}

body {
  background-image: url(https://raw.githubusercontent.com/jepery/gaming-sensei/main/tea.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Oswald", sans-serif;
  padding: 20px;
}

.tea-menu {
  width: 80%;
  max-width: 700px;
  background-color: rgba(255, 228, 196, 0.486);
  margin-left: auto;
  margin-right: auto;
  /* padding-right: 20px;
  padding-left: 20px; */
  padding: 20px;
}

.tea-items p {
  /* background-color: azure; */
  display: inline-block;
  margin: 5px 0px;
}

.tea-flavor,.tea-collections {
  width: 50%;
  /* background-color: azure; */
  text-align: left;
}

.tea-price,.collections-price {
  color: white;
  width: 50%;
  /* background-color: rgb(122, 107, 84); */
  text-align: right;
}

.established{
    font-style: italic;
}